<div class="container_card">
  <div class="card_pic">
    <img src="https://e7.pngegg.com/pngimages/528/306/png-clipart-akagi-anime-kaiji-maximum-the-hormone-punch-television-manga.png"
    alt=""
    srcset=""
    >
  </div>
  <div class="card_title">
    <h1><a href="#">PON! KAN! CHI! FURITEN! TSUMO! SAY RON!</a></h1>
  </div>
  <div class="card_text">
    <p>
      <a href="#">Utsumuki kon'ya chi o kū
      Aomuke ten o kū
      Sā sarakedase kyōki no me
      Yononaka de togu tsume

      (pon! kan! chī! furiten tsumo)

      source: https://www.animesonglyrics.com/akagi/akagi
      </a>
    </p>
  </div>
</div>
